<!--&lt;!&ndash; internships.html &ndash;&gt;-->
<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--    <title>Стажировки</title>-->
<!--</head>-->
<!--<body>-->
<!--    <h1>Стажировки</h1>-->
<!--    <ul>-->
<!--        {% for internship in internships %}-->
<!--            <li>{{ internship }}</li>-->
<!--        {% endfor %}-->
<!--    </ul>-->
<!--</body>-->
<!--</html>-->
 <!-- internships.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Стажировки</title>
</head>
<body>
    <h1>Стажировки</h1>
    <ul>
        {% for link in links %}
            <li>{{ link }}</li>
        {% endfor %}
    </ul>
</body>
</html>
